.ChatPage{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.Chatcontainer{
    background-color: white;
    height: 60%;

}
.chatBox{
    border:0.2vmax solid black;
    height: 70%;
}
.inputBox{
    border: 0.2vmax solid black;
    height: 15%;
    display: flex;
}
.header{
    background-color: rgb(40, 5, 12);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>h2{
    color: white;
    margin: 2.5vmax;
}
img{
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}
img:hover{
    transform: scale(2) rotate(45deg);
}
.header img{
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;

}
#chatinput{
    width: 80%;
    border: none;
    padding: 2vmax;
    background-color: white;
    outline: none;
}
.sendBtn{
  font-size: large;
  background-color: rgb(72, 38, 38);
  color: white;
  border: 2px solid white;
  height: 100%;
  font-style: bold;
  transition: all 0.5s;
  cursor: pointer;
  width: 20%;
}
.sendBtn>img{
    width: 3vmax;
    filter: brightness(100) invert();
}
.sendBtn:hover{
    background-color: rgb(9, 9, 120);
    color: rgb(91, 91, 91);
}